.metadata/.lock
.metadata/.log
.metadata/version.ini
.metadata/.mylyn/.tasks.xml.zip
.metadata/.mylyn/repositories.xml.zip
.metadata/.mylyn/tasks.xml.zip
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.mylyn/.taskListIndex/write.lock
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/src/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/src/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/src/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/src/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/src/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.junit.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.urischeme.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/Principal.launch
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.project
.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.jdt.core/88884981.index
.metadata/.plugins/org.eclipse.jdt.core/1067094681.index
.metadata/.plugins/org.eclipse.jdt.core/1865797976.index
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
.metadata/.plugins/org.eclipse.m2e.logback/0.log
.metadata/.plugins/org.eclipse.m2e.logback/logback.2.6.1.20240411-1122.xml
.metadata/.plugins/org.eclipse.mylyn.github.ui/avatars.ser
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
src/controle_view/EscolherArquivo.class
src/controle_view/EscolherArquivo$1.class
src/controle_view/EscolherArquivo$2.class
src/controle_view/EscolherArquivo$botao.class
src/controle_view/EstadoView.class
src/controle_view/Janela.class
src/controle_view/JanelaPrincipal.class
src/controle_view/JanelaPrincipal$1.class
src/controle_view/JanelaPrincipal$2.class
src/controle_view/JanelaTeste.class
src/controle_view/PainelDesenho.class
src/controle_view/TelaConfiguracoes.class
src/controle_view/TelaConfiguracoes$1.class
src/controle_view/TelaConfiguracoes$2.class
src/controle_view/TelaConfiguracoes$3.class
src/controle_view/TelaConfiguracoes$botao.class
src/controle_view/TelaInicial.class
src/controle_view/TelaInicial$1.class
src/controle_view/TelaSelecao.class
src/controle_view/TelaSelecao$1.class
src/controle_view/TelaSelecao$2.class
src/controle_view/TelaSelecao$botao.class
src/controle_view/TelaSelecao$opcao.class
src/controle_view/TelaTerreno.class
src/modelo_jogo/Abacate.class
src/modelo_jogo/Abacateiro.class
src/modelo_jogo/Acerola.class
src/modelo_jogo/Amora.class
src/modelo_jogo/Amoreira.class
src/modelo_jogo/Coco.class
src/modelo_jogo/Coqueiro.class
src/modelo_jogo/Goiaba.class
src/modelo_jogo/Goiabeira.class
src/modelo_jogo/Laranja.class
src/modelo_jogo/Laranjeira.class
src/modelo_jogo/Maracuja.class
src/modelo_jogo/Pe_de_Acerola.class
src/personagens/Arvore.class
src/personagens/ElementosStatics.class
src/personagens/Fruta.class
src/personagens/Jogador.class
src/personagens/Pedra.class
src/principal/Principal.class
src/principal/Principal$1.class
